.home {
    padding: 30px;
    text-align: center;
    height: 100%;
    position:relative;
    text-align: center;
    z-index: 50;
  }
  
  .home h2 {
    font-size: 4em;
    color:#ffffff;
    font-family: 'Bebas Neue';
  }

  .dex-icon {
    width: 80px;
    height: 80px;
    color:#ffffff;
    opacity: 0.4;
    cursor: not-allowed;
    
  }

  .link {
    color:#ffffff;
    text-decoration: underline;
    word-break: break-word;
  }


  .description {
    width: 500px;
    margin: 0 auto;
    color:#ffffff;
    position: relative;
    z-index: 50;
  }

  @media screen and (max-width: 768px) {
    .home h2 {
      font-size: 2.5em;
    }
  
    }

  @media screen and (max-width: 768px) {
    .description {
      width:100%;
    }

    .dex-icon {
      width: 40px;
      height: 40px;
    }
  }

  .ca {
    color:#E01B24;
    font-size: 1.5rem;
    overflow-wrap: break-word;
  }

  .ca-title {
    color:#ffffff;
    font-size: 1.5rem;
  }
  
  .home p {
    font-size: 1.2rem;
    color: #ffffff;
  }

  .icon {
    transition: transform 0.3s ease;
    fill: #ffffff;
    margin: 3px;
  }


  .icon:not(.dex-icon):hover {
    transform: scale(1.1);
  }

  .icons {
    margin-top:50px;
  }