.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 1.8em;
    color:#C1242C;
  }
  
  .links a {
    margin-left: 15px;
    font-weight: bold;
    color: #C1242C;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }

  .header-image {
    width:60px;
    height: 60px;
  }