@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
  scroll-behavior: smooth;
}

.wrapper {
  height: 100%;
  position: relative;
}

.App {
  font-family: 'Montserrat', sans-serif;
  color: #1D405B;
  text-align: center;
  opacity: 0; /* Start with hidden */
  transition: opacity 1s ease-in; /* Transition effect */
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  padding: 50px 20px;
}

nav, .footer {
  padding: 10px;
}

h1, h2 {
  color: #1D405B;
}

a {
  margin: 0 15px;
  color: #1D405B;
  text-decoration: none;
}

.flex {
  display: flex;
  flex:1;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  height: 105dvh; /* Ensure the body takes full height */
  background:  linear-gradient(135deg, #0A1F44 0%, #000814 100%);
  animation: gradient-animation 15s ease infinite; /* Optional animation */
}


.visible {
  opacity: 100; /* Fully visible after transition */
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}